node_modules/
**/*.exe
.vs/
**/*.xlsx
generateSchema/output/**
updateAllRosters/
spotrac/
private/
randomizeDraftClassStrength/test.js
randomizeDraftClassStrength/test2.js
modifyDraftClassStrength/test2.js
